body {
  background-color: gray;
}

.GameStartScreen {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: auto;
  text-align: center;
}

.GameScreen {
  width: 800px;
  height: 600px;
  background-color: black;
  margin: auto;
  text-align: center;
}

.tile1 {
  background-color: black;
}

.tile2 {
  background-color: green;
}

.tile0 {
  background-color: brown;
}

.tileP {
  background-color: pink;
}

.tileI {
  background-color: gold;
}

.tileM {
  background-color: red;
}

.tileB {
  background-color: purple;
}

.tileBlack {
  background-color: black;
}

.board {
  width: 100%;
  position: relative;
  background-color: gray;
  text-align: center;
}
